<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>274559036060-d1tr5adco77vmulhvusn2r3hs7nb3his.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274559036060-d1tr5adco77vmulhvusn2r3hs7nb3his</string>
	<key>API_KEY</key>
	<string>AIzaSyCu1zXqprpRC4LoCx6qnZJv-Cb7rzbjObo</string>
	<key>GCM_SENDER_ID</key>
	<string>274559036060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Andrei-Sorin-Blaj.breakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-ac92d</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-ac92d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:274559036060:ios:2684eefe3a6e1b57</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-ac92d.firebaseio.com</string>
</dict>
</plist>